<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Feedbacks Backend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Liste des feedbacks</h1>
        <ul id="feedback-list">
            <!-- Les feedbacks seront affichés ici dynamiquement -->
        </ul>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script_backend.js') }}"></script>
</body>
</html>
